:root {
  --color-principal: #212529;
  --color-secundario: #e0a32c;
  --color-accento: #45b3c7;
  --color-texto: #134566;
  --color-fondo: #ffffff;
  --color-section: #f4f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*boton celeste global*/
.btn {
  font-size: 1rem;
  text-decoration: none;
  border-radius: 20px;
  padding: 7px 20px;
  background-color: var(--color-accento);
  color: var(--color-fondo);
  border: none;
  cursor: pointer;
}
/*layout-container*/
.layout-container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; /* Evita que toque los bordes en pantallas chicas */
}
/*///////START HEADER///////*/
.header {
  width: 100%;
  height: 80px;
}
.header__flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-img {
  width: auto;
  height: 40px;
  object-fit: contain;
}
.header__logo-title {
  font-size: 1.5rem;
  color: var(--color-texto);
}
.header__logo-span {
  color: var(--color-accento);
}
.header__nav {
  display: flex;
  gap: 30px;
}
.header__nav-item {
  font-size: 1rem;
  color: var(--color-texto);
  font-weight: 700;
  text-decoration: none;
}
/*///////END HEADER///////*/
/*///////START HERO///////*/
.hero {
  height: calc(100vh - 80px);
  width: 100%;
  max-height: 800px;
  display: flex;
  align-items: center;
  background-color: var(--color-section);
}
.hero__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  gap: 30px;
}
.hero__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  gap: 25px;
}
.hero__title-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__label {
  font-size: 1rem;
  border-radius: 20px;
  padding: 7px 10px;
  background-color: rgb(115, 197, 235);
  color: var(--color-fondo);
  width: fit-content; /*ajusta el borde solo al contenido*/
}
.hero__title {
  font-size: 3rem;
}
.hero__description {
  font-size: 1.5rem;
}
.hero__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}
.hero__btn {
  border-radius: 35px;
  padding: 20px 30px;
  text-decoration: none;
}
.hero__btn--primary {
  background-color: var(--color-secundario);
  color: var(--color-fondo);
}
.hero__btn--whatsapp {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 70px;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}
/*icon whatsapp ↓*/
.hero__btn-icon {
  left: 20px;
  position: absolute;
  font-size: 3rem;
  color: #65d467;
  padding: 0;
}
.hero__benefits {
  display: flex;
  margin-top: 75px;
  width: 100%;
  justify-content: space-between;
}
.hero__benefit-item {
  display: flex;
  gap: 5px;
}
.hero__benefit-icon {
  font-size: 3rem;
}
.hero__benefit-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__benefit-title {
  font-size: 1rem;
}
.hero__benefit-desc {
  font-size: 0.75rem;
}
.hero__right {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 15px;
}
.hero__video-container {
  height: 190px;
  width: 280px;
  overflow: hidden;
}
.hero__mockup {
  position: absolute;
  height: 190px;
  width: 280px;
  box-shadow: 0 0 7px 1px blue;
  object-fit: fill;
}
.hero__mockup--left {
  left: 0px;
}
.hero__mockup--right {
  right: 0;
}
/*///////END HERO///////*/
/*///////START REUSABLE CARD BLOCK///////*/
.card {
  display: flex;
  border-radius: 10px;
}
.card--carousel {
  flex-direction: column;
  width: 20%;
  gap: 15px;
  padding: 7px;
  box-shadow: 0 0 3px 1px #c6c6c6;
}
.card--plan {
  flex: 1;
  padding: 30px 20px;
  background-color: var(--color-fondo);
  border: 2px solid #e0e0e0;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
}
.card--recommendation {
  flex: 1;
  align-items: center;
  gap: 20px;
  padding: 10px 5px;
  text-align: left;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
}
.card__img-container {
  overflow: hidden;
}
.card__img-container--carousel {
  width: 100%;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px blue;
}
.card__img-container--recommendation {
  width: 64px;
  height: 64px;
  min-width: 20%;
  border-radius: 50%;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__image--recommendation {
  aspect-ratio: 1;
}
/*///////END REUSABLE CARD BLOCK///////*/

/*///////START CAROUSEL///////*/
.carousel {
  width: 100%;
  height: 420px;
}
.carousel__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  gap: 15px;
  margin-top: 30px;
}
.carousel__title {
  font-size: 1.5rem;
}
.carousel__filters {
  width: 60%;
}
/*padre de los botones celestes ↓ */
.carousel__filters-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.carousel__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
}
.carousel__card-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.carousel__card-title {
  font-size: 1rem;
  color: var(--color-texto);
}
.carousel__card-text {
  font-size: 1rem;
  color: var(--color-principal);
}
.carousel__card-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-accento);
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 15px;
}
.carousel__card-link-icon {
  font-size: 1rem;
}
.carousel__flex-btn {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: var(--color-fondo);
  color: var(--color-accento);
  text-decoration: none;
  margin-bottom: 15px;
  box-shadow: 0 0 3px 1px #c6c6c6;
}
/*///////END CAROUSEL///////*/

/*///////START PROCESS///////*/
.process {
  width: 100%;
  height: 420px;
  background-color: var(--color-section);
}
.process__flex {
  height: 80%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.process__title {
  font-size: 1.5rem;
}
.process__gallery {
  padding: 0 20px;
  display: flex;
  width: 100%;
  height: 80%;
  gap: 15px;
  background-color: #ddf6fe;
}
.process__container {
  display: flex;
  align-items: center;
  width: 33%;
  gap: 25px;
}
.process__icon-container {
  width: 128px;
  height: 128px;
  flex-shrink: 0; /* Evita que se reduzca el tamaño del icono si el contenedor se hace más pequeño */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-secundario);
  overflow: hidden;
}
.process__icon {
  font-size: 7rem;
  color: var(--color-section);
}
.process__container-description {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 25px;
}
.process__container-title {
  font-size: 1.25rem;
}
.process__container-text {
  font-size: 1rem;
}
/*///////END PROCESS///////*/
/*///////START PLANS///////*/
.plans {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.plans__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.plans__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.plans__title {
  font-size: 2rem;
  color: var(--color-texto);
  font-weight: 700;
  text-align: center;
}
.plans__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
/* .card--plan:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  border-color: var(--color-accento);
} */
.plans__item-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-texto);
  text-align: center;
}
.plans__item-desc {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
  text-align: center;
}
.plans__item-label {
  font-size: 0.85rem;
  color: #999;
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
}
.plans__item-price {
  font-size: 2.5rem;
  color: var(--color-secundario);
  font-weight: 700;
  text-align: center;
}
.plans__item-features-container {
  margin-top: 15px;
  display: flex;
}
.plans__item-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.plans__item-feature {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  color: var(--color-principal);
}
.plans__item-feature-icon {
  color: var(--color-accento);
  font-size: 1.2rem;
}
.plans__right {
  width: 35%;
  padding: 30px;
  background-color: #ddf6fe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.plans__extra-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-accento);
}
.plans__extra-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.plans__extra-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-section);
  display: flex;
  justify-content: center;
  align-items: center;
}
.plans__extra-icon {
  font-size: 1.8rem;
  color: var(--color-accento);
}
.plans__extra-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.plans__extra-subtitle {
  font-weight: 700;
  color: var(--color-texto);
  font-size: 0.95rem;
}
.plans__extra-desc {
  font-size: 0.85rem;
  color: #666;
}
/*///////END PLANS///////*/

/*///////START RECOMMENDATIONS///////*/
.recommendations {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--color-section);
}
.recommendations__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.recommendations__title {
  font-size: 1.75rem;
  color: var(--color-texto);
  font-weight: 700;
  text-align: center;
}
.recommendations__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.recommendations__card-text {
  font-size: 0.95rem;
  color: #666;
}
/*///////END RECOMMENDATIONS///////*/

/*///////START FOOTER///////*/
.footer {
  width: 100%;
  background-color: var(--color-fondo);
}
.footer__flex {
  height: 140px;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.footer__color {
  background-color: var(--color-accento);
  border-radius: 35px 35px 0px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__title {
  font-size: 1.25rem;
}
.footer__desc {
  font-size: 0.95rem;
}
.footer__btn {
  width: 240px;
  height: 56px;
  border-radius: 35px;
  padding: 10px 20px;
  background-color: var(--color-secundario);
  color: var(--color-fondo);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*///////START FLOATING WHATSAPP///////*/
/* EL CONTENEDOR: Se centra en la pantalla y mide máximo 1300px */
.floating-whatsapp {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(
    -50%
  ); /* Centra el contenedor horizontalmente respecto a su punto de anclaje (left: 50%)*/
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  /* IMPORTANTE: */
  pointer-events: none; /* Hace que el contenedor sea invisible a los clics (para que no tape tu web) */
}
.floating-whatsapp__link {
  pointer-events: auto; /* Le devuelve los clics al botón */
  text-decoration: none;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65d467;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
  margin-right: 10px;
}
.floating-whatsapp__link:hover {
  transform: scale(1.2);
}
/*///////END FLOATING WHATSAPP///////*/
